<% if @cover_story %>
  <article class="cover-story <% if @cover_story.unique_speakers.length > 2 %>many-speakers<% end %>">    
    <h1>
      <%= link_to(@cover_story.title, article_path(@cover_story)) %>
    </h1>

    <% if @cover_story.illustration.attached? %>
      <figure>
        <%= image_tag(@cover_story.illustration) %>
      </figure>
    <% end %>

    <p class="perex">
      <%= strip_tags(@cover_story.perex) %>
      <a href="<%= article_path(@cover_story) %>">
        Číst&nbsp;dál&nbsp;&rarr;
      </a>
    </p>

    <section class="speakers">
      <% @cover_story.unique_speakers.each do |speaker| %>
        <%= render(
          partial: "shared/speaker_stat",
          locals: {
            speaker: speaker,
            stats: controller.source_stats.build(@cover_story.source, speaker),
            lazy_load_images: false
          })
        %>
      <% end %>
    </section>
  </article>
<% end %>
