<% if @cover_story %>
  <article class="container-homepage-cover_story">
    <% if @cover_story.illustration.attached? %>
      <a title="<%= @cover_story.title %>" href="<%= article_path(@cover_story) %>" class="illustration">
        <img src="<%= @cover_story.illustration.url %>" alt="<%= @cover_story.title %>" />
        <% if show_article_factcheck_video(@cover_story) %>
          <div class="factcheck-video-label">
            <img src="<%= asset_path("play-icon.svg") %>" class="factcheck-video-label-play-icon" alt="Spustit <%= article_factcheck_video_record_name(@cover_story) %>">
            <span class="factcheck-video-label-text"><%= article_factcheck_video_record_name(@cover_story).capitalize %> propojený s ověřením</span>
          </div>
        <% end %>
      </a>
    <% end %>

    <div class="title-perex-and-speakers">
      <h1>
        <%= link_to(@cover_story.title, article_path(@cover_story)) %>
      </h1>

      <section class="article-meta">
        <% if @cover_story.article_type.name == ArticleType::DEFAULT %>
          <span class="label factcheck">Ověřeno</span>
          <% if @cover_story.source %>
            <i><%= @cover_story.source.medium.name %>, <%= raw(l(@cover_story.source.released_at, format: :long)) %></i>
          <% end %>
        <% end %>

        <% if @cover_story.article_type.name == ArticleType::STATIC %>
          <span class="label editorial">Komentář</span>
          <i><%= raw(l(@cover_story.published_at, format: :long)) %></i>
        <% end %>

        <% if @cover_story.article_type.name == ArticleType::SINGLE_STATEMENT %>
          <span class="label veracity <%= @cover_story.single_statement.approved_assessment.veracity.default_name %>">
            <%= @cover_story.single_statement.approved_assessment.veracity.name %>
          </span>
          <i><%= @cover_story.single_statement.source.medium.name %>, <%= raw(l(@cover_story.single_statement.source.released_at, format: :long)) %></i>
        <% end %>
      </section>

      <% if @cover_story.article_type.name == ArticleType::DEFAULT || @cover_story.article_type.name == ArticleType::STATIC %>
        <p class="perex">
          <%= strip_tags(@cover_story.perex) %>
          <a href="<%= article_path(@cover_story) %>">
            Číst&nbsp;dál&nbsp;&rarr;
          </a>
        </p>
      <% end %>
      <% if @cover_story.article_type.name == ArticleType::SINGLE_STATEMENT %>
        <p class="perex">
          „<%= @cover_story.single_statement.content.strip %>“
          <a href="<%= statement_path(@cover_story.single_statement) %>">
            Číst&nbsp;odůvodnění&nbsp;&rarr;
          </a>
        </p>
      <% end %>

      <section class="speakers">
        <% @cover_story.unique_speakers.each do |speaker| %>
          <div class="speakers-item">
            <%= render(
              partial: "shared/speaker_stat",
              locals: {
                speaker: speaker,
                stats: @cover_story.speaker_stats(speaker),
                lazy_load_images: false
              })
            %>
          </div>
        <% end %>
        <% if @cover_story.article_type.name == ArticleType::SINGLE_STATEMENT %>
          <%= render(partial: 'shared/portrait', object: @cover_story.single_statement.speaker, as: :speaker) %>
        <% end %>
      </section>
    </div>
  </article>
<% end %>
