<%= render partial: "cover_story" %>

<%= render partial: "interesting_statements" %>

<%= render partial: "internal_banner" %>

<% @articles.each do |article| %>
  <%= render partial: "article/preview", object: article, as: :article %>
<% end %>

<%#
<div class="row"><div class="columns">
    {{ knp_pagination_render(articles, "@DemagogWeb/Web/_pagination.html.twig") }}
</div></div>
%>

<%= render partial: "social" %>

<%= render partial: "references" %>
