<%= render partial: "cover_story" %>
<%= render partial: "promises" %>

<% if @interesting_statements %>
  <%= render partial: "interesting_statements" %>
  <%= render partial: "homepage_donate_and_subscribe" %>
<% end %>

<% if @page_number %>
  <p class="full-width"><b>Strana <%= @page_number %></b> z archivu článků:</p>
<% end %>

<% @articles.each do |article| %>
  <%= render partial: "article/preview", object: article, as: :article %>
<% end %>

<%= paginate(@articles) %>

<%= render partial: "social" %>
