<article class="statement <% if statement.important? %>important-statement<% end %>" id="<%= statement.id %>">

  <% unless local_assigns[:non_attributed] %>
    <a href="<%= speaker_path(statement.speaker.id) %>" class="speaker">
      <%= render(partial: 'shared/portrait', object: statement.speaker, as: :speaker) %>
    </a>
  <% end %>

  <h3>
    <% unless local_assigns[:non_attributed] %><%= statement.speaker.full_name %><% end %>
    <span class="veracity <%= statement.approved_assessment.veracity.default_name %>">
      <%= statement.approved_assessment.veracity.name %>
    </span>

    <% if statement.important? %>
      <span class="label important">důležitý výrok</span>
    <% end %>
  </h3>

  <blockquote><%= content_to_html(statement.content.gsub(/^[„““ ”\"\s]+|[„““ ”\"\s]+$/, '')) %></blockquote>

  <p class="utils">
    <a class="permalink" href="<%= statement_path(statement.id) %>">trvalý odkaz</a>
  </p>

  <section class="reasons">
    <%= raw(statement.approved_assessment.explanation_html) %>
  </section>
</article>
