<article
  class="container-statement-detail statement <% if statement.important? %>important-statement<% end %> s-statement"
  data-controller="statement--detail"
  data-action="resize@window->statement--detail#handleWindowResize"
  id="<%= statement.id %>"
>
  <a href="<%= speaker_path(statement.speaker.id) %>" class="speaker">
    <%= render(partial: 'shared/portrait', object: statement.speaker, as: :speaker) %>
    <h3><%= statement.speaker.full_name %></h3>
  </a>

  <div class="statement-content">
    <blockquote data-target="statement--detail.blockquote">
      <%= content_to_html(statement.content) %>
      <% if show_when_and_where %>
        <cite><%= statement.source.medium.name -%>, <span class="date"><%= raw(l(statement.source.released_at, format: :long)) %></span></cite>
      <% end %>

      <% if statement.important? %>
        <span class="important-statement-icon" title="Výběr Demagog.cz">!</span>
      <% end %>
    </blockquote>

    <div class="veracity-and-links">
      <span class="veracity <%= statement.approved_assessment.veracity.default_name %>">
        <%= statement.approved_assessment.veracity.name %>
      </span>

      <% if statement.approved_assessment.short_explanation.nil? %>
        <a href="#" class="show-reasons" data-action="statement--detail#toggleExplanation">
          <span class="collapsed">zobrazit odůvodnění</span>
          <span class="open">skrýt odůvodnění</span>
        </a>
      <% end %>

      <a class="permalink" href="<%= statement_path(statement.id) %>">trvalý odkaz</a>
    </div>

    <% unless statement.approved_assessment.short_explanation.nil? %>
      <section class="reasons-short">
        <p>
          <%= statement.approved_assessment.short_explanation %>
        </p>
      </section>

      <a href="#" class="show-reasons" data-action="statement--detail#toggleExplanation">
        <span class="collapsed">zobrazit&nbsp;celé&nbsp;odůvodnění</span>
        <span class="open">skrýt&nbsp;celé&nbsp;odůvodnění</span>
      </a>
    <% end %>

    <section class="reasons" data-target="statement--detail.explanationHtml">
      <%= raw(statement.approved_assessment.explanation_html) %>
    </section>
  </div>
</article>
