<div class="statement-preview">
  <%= render(partial: 'shared/portrait', object: statement.speaker, as: :speaker) %>

  <div>
    <p class="name">
      <span class="veracity <%= statement.approved_assessment.veracity.default_name %>"></span>
      <a href="<%= speaker_path(statement.speaker.id) %>">
        <%= statement.speaker.full_name %>
      </a>
    </p>

    <p>
      <span class="quote">„<%= statement.content.truncate(200) %>“</span>
      <a href="<%= statement_path(statement.id) %>">odůvodnění&nbsp;&rarr;</a>
    </p>
  </div>
</div>
