<section class="statement-detail">
  <h1>Tento výrok byl ověřen jako
    <span class="veracity glyphicons <%= @statement.approved_assessment.veracity.default_name %>">
      <i></i> <%= @statement.approved_assessment.veracity.name.downcase %>
    </span>
  </h1>

  <blockquote>
    <b><%= @statement.speaker.full_name %>:</b> <%= content_to_html(@statement.content) %>
    <cite><%= @statement.source.medium.name %>, <%= raw(l(@statement.source.released_at, format: :long)) %></cite>
  </blockquote>
</section>

<article>
  <h2>Odůvodnění</h2>
  <section class="reasons">
    <%= raw(@statement.approved_assessment.explanation_html) %>
  </section>
</article>

<aside class="meta">
  <%=
    render(
      partial: "shared/speaker_stat",
      locals: {
        speaker: @statement.speaker,
        stats: @stats
      }
    )
  %>

  <h2>Zmíněno</h2>
  <ul class="bare-list">
  <% @statement.articles.each do |article| %>
    <li><%= link_to(article.title, article_path(article)) %></li>
  <% end %>
  </ul>
</aside>
