<section
  class="container-statement-show <% if @statement.important? %>important-statement<% end %>"
  data-controller="statement--show"
  data-action="resize@window->statement--show#handleWindowResize"
>
  <a href="<%= speaker_path(@statement.speaker.id) %>" class="speaker">
    <%= render(partial: 'shared/portrait', object: @statement.speaker, as: :speaker) %>
    <span class="name"><%= @statement.speaker.full_name %></span>
  </a>

  <div class="statement-content">
    <blockquote data-target="statement--show.blockquote">
      <%= content_to_html(@statement.content) %>
      <cite><%= @statement.source.medium.name %>, <span class="date"><%= raw(l(@statement.source.released_at, format: :long)) %></span></cite>

      <% if @statement.important? %>
        <span class="important-statement-sign">
          <span class="important-statement-icon">!</span><br>
          Důležitý výrok
        </span>
      <% end %>
    </blockquote>

    <h1>
      Tento výrok byl ověřen jako
      <span class="veracity glyphicons <%= @statement.approved_assessment.veracity.default_name %>">
        <i></i> <%= @statement.approved_assessment.veracity.name.downcase %>
      </span>
    </h1>

    <article>
      <h2>Odůvodnění</h2>
      <section class="reasons">
        <% unless @statement.approved_assessment.short_explanation.nil? %>
          <p><%= @statement.approved_assessment.short_explanation %></p>
        <% end %>

        <div data-target="statement--show.explanationHtml">
          <%= raw(@statement.approved_assessment.explanation_html) %>
        </div>
      </section>
    </article>

    <aside>
      <h1>Výrok jsme zmínili</h1>
      <% @statement.mentioning_articles.each do |article| %>
        <%= render(partial: 'article/preview', object: article, as: :article) %>
      <% end %>
    </aside>
  </div>
</section>
