 <a class="container-speaker-listed speaker" href="<%= speaker_path(speaker) %>">
  <%= render(partial: 'shared/portrait', object: speaker, as: :speaker) %>
  <div>
    <p class="name"><%= speaker.full_name %></p>
    <p>
      <% if show_latest %>
        <b><%= speaker.factual_and_published_statements.where("excerpted_at >= ?", 6.months.ago).count %>&nbsp;výroků</b>
        (<%= speaker.factual_and_published_statements.count %>&nbsp;celkem)
      <% else %>
        <%= speaker.factual_and_published_statements.count %>&nbsp;výroků
      <% end %>
    </p>
  </div>
</a>
