<div class="row">
  <div class="medium-4 medium-push-8 columns">
    <%= render(partial: "speaker/sidebar") %>
  </div>
  <div class="medium-8 medium-pull-4 columns speakers-list">
    <% if @party  %>
      <h2><%= @party.name %></h2>

      <div class="row">
        <% @party.current_members.each do |speaker| %>
          <%= render(partial: 'speaker/listed', object: speaker, as: :speaker) %>
        <% end %>
      </div>
    <% else %>
      <h2>Politici s nejvíce výroky</h2>
      <p>Vybráni jsou nejaktivnější politici za posledních šest měsíců.</p>

      <div class="row">
        <% @speakers.each do |speaker| %>
          <figure class="speaker">
            <a href="<%= speaker_path(speaker) %>">
              <% if speaker.portrait %>
                <div class="photo-wrapper">
                  <%= image_tag(speaker_portrait(speaker.portrait), alt: speaker.full_name) %>
                </div>
              <% end %>
              <p class="name"><%= speaker.full_name %></p>
              <p><%= speaker.statements.where("excerpted_at >= ?", 6.months.ago).count %> výroků</p>
            </a>
          </figure>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
