<% content_for(:title, @speaker.full_name) %>

<article class="container-speaker-show">
  <section class="profile">
    <%= render(partial: 'shared/portrait', object: @speaker, as: :speaker) %>
    <div class="name-and-stats">
      <h1 class="name s-speaker-name"><%= @speaker.full_name %> <% if @speaker.body %><span class="s-body">(<%= @speaker.body.short_name %>)</span><% end %></h1>

      <%= render(partial: 'shared/stats', object: @speaker.stats, as: :stats) %>
    </div>
  </section>

  <section>
    <h2 id="statements">Výroky</h2>

    <%= render(partial: 'statement/detail', collection: @statements, as: :statement) %>

    <%= paginate(@statements) %>
  </section>
</article>
