<div class="search-result-page">
  <div>Výsledky pro: "<%= params[:query] %>"</div>

  <%= form_tag search_index_path, method: :get, class: "search" do %>
    <%= text_field_tag :query, params[:query], class: "s-search-field" %>
    <%= submit_tag "Hledat", name: nil %>
  <% end %>

  <% unless @speakers.empty? %>
    <div class="s-section-speakers">
      <h3>Nalezení politici:</h3>

      <%= render_records(:speakers, @speakers.records.limit(2).to_a) %>

      <% if @speakers.total_count > 2 %>
        <%= show_more_link(:speakers, @speakers.total_count - 2) %>
      <% end %>
    </div>
  <% end %>

  <% unless @articles.empty? %>
    <div class="s-section-articles">
      <h3>Nalezené články:</h3>

      <%= render_records(:articles, @articles.records.limit(2).to_a) %>

      <% if @articles.total_count > 2 %>
        <%= show_more_link(:articles, @articles.total_count - 2) %>
      <% end %>
    </div>
  <% end %>

  <% unless @statements.empty? %>
    <div class="s-section-statements">
      <h3>Nalezené výroky:</h3>

      <%= render_records(:statements, @statements.records.limit(2).to_a) %>

      <% if @statements.total_count > 2 %>
        <%= show_more_link(:statements, @statements.total_count - 2) %>
      <% end %>
    </div>
  <% end %>
</div>
