<% content_for(:title, "Výsledky vyhledávání pro '#{params[:query]}'") %>

<div class="search-result-page">
  <%= form_tag search_show_path(type: params[:type]), method: :get, class: "search" do %>
    <%= text_field_tag :query, params[:query], class: "s-search-field" %>
    <%= hidden_field_tag :type, params[:type] %>
    <%= submit_tag "Hledat", name: nil %>
  <% end %>


  <%= link_to("\u2190 Zpět na souhrn výsledků hledání", search_index_path(query: params[:query]), class: "s-back-link") %>

  <h2>Nalezené výsledky:</h2>

  <%= render_records(params[:type], @results.page(params[:page]).records.to_a) %>

  <%= paginate(@results) %>
</div>
