<%= form_with(model: user, local: true, url: user.id ? experimental_admin_user_path(user) : experimental_admin_users_path) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h4 class="bp3-heading">Základní údaje</h4>

  <div class="bp3-form-group">
    <%= label(:user, :first_name) %>

    <div class="bp3-form-content">
      <div class="bp3-input-group">
        <%= text_field(:user, :first_name, class: "bp3-input") %>
      </div>
    </div>
  </div>

  <div class="bp3-form-group">
    <%= label(:user, :last_name) %>

    <div class="bp3-form-content">
      <div class="bp3-input-group">
        <%= text_field(:user, :last_name, class: "bp3-input") %>
      </div>
    </div>
  </div>

  <h4 class="bp3-heading">Přístup do aplikace</h4>

  <div class="bp3-form-group">
    <%= label(:user, :email) %>

    <div class="bp3-form-content">
      <div class="bp3-input-group">
        <%= text_field(:user, :email, class: "bp3-input") %>
      </div>
    </div>
  </div>

  <div class="bp3-form-group">
    <%= label(:user, :role) %>

    <div class="bp3-form-content">
      <div class="bp3-input-group">
        <%= select(:user, :role, options_from_collection_for_select(Role.all, :id, :name, user&.role&.id)) %>
      </div>
    </div>
  </div>

  <h4 class="bp3-heading">Upozornění</h4>

  <%= label(:user, :email_notifications, class: "bp3-control bp3-switch") do %>
    <%= check_box(:user, :email_notifications, class: "bp3-input") %>

    <span class="bp3-control-indicator" ></span>
    Posílat upozornění emailem
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
