<p id="notice"><%= notice %></p>

<h1>Tým</h1>

<table>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Přijmení</th>
      <th>E-mail</th>
      <th>Přístupová práva</th>
      <th colspan="3" />
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role ? user.role.name : 'Missing' %></td>
        <td><%= link_to 'Show', experimental_admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_experimental_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', experimental_admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat nového člena týmu', new_experimental_admin_user_path %>
