<p id="notice"><%= notice %></p>

<h1>Tým</h1>

<% if params[:deactivated] %>
  <%= link_to "Skryt deaktivovane cleny", experimental_admin_users_url %>
<% else %>
  <%= link_to "Zobrazit i deaktivovane cleny", experimental_admin_users_url(deactivated: true) %>
<% end %>

<table class="s-users"true>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Přijmení</th>
      <th>E-mail</th>
      <th>Přístupová práva</th>
      <th colspan="4" />
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="s-user <%= "s-user-#{user.id}" %>">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role ? user.role.name : 'Missing' %></td>
        <td><%= link_to 'Show', experimental_admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_experimental_admin_user_path(user) %></td>
        <td><%= link_to 'Aktivovat', experimental_admin_user_path(user), method: :put, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', experimental_admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Přidat nového člena týmu', new_experimental_admin_user_path %>
