<footer>
    <div class="row">
        <div class="columns">
            <h2>Projekt Demagog.cz podporují:</h2>
            <div class="partners">
                <a title="US Embassy" href="https://cz.usembassy.gov">
                    <img class="lazy-load" data-src="<%= asset_path("partners/us-embassy.png") %>" />
                </a>
                <a title="Nadační fond rodiny Orlických" href="http://www.nfro.cz">
                    <img class="lazy-load" data-src="<%= asset_path("partners/nfro.png") %>" />
                </a>
                <a title="International Visegrad Fund" href="http://visegradfund.org/home/">
                    <img class="lazy-load" data-src="<%= asset_path("partners/logo_ivf.png") %>" />
                </a>
            </div>
            <h2>Projekt Demagog.cz spolupracuje s:</h2>
            <div class="partners">
                <a title="Zákony pro lidi" href="http://www.zakonyprolidi.cz">
                    <img class="lazy-load" data-src="<%= asset_path("partners/zakony-pro-lidi.png") %>" />
                </a>
                <a title="Newton Media" href="https://www.newtonmedia.cz/cs">
                    <img class="lazy-load" data-src="<%= asset_path("partners/newton-media.png") %>" />
                </a>
            </div>

            <p>&copy; 2012&mdash;<%= Time.now.strftime("%Y") %> <b>Demagog.cz, z.s.</b> IČ: 05 14 05 44, se sídlem Tomešova 568/6, Staré Brno, 602 00 Brno zapsaný ve spolkovém rejstříku u Krajského soudu v Brně. Bankovní účet 2185401001/5500 vedený u Raiffeisenbank, a.s.</p>
        </div>
    </div>
</footer>
