<%

@nav = [
  Struct::NavSubmenu.new(
    "Factcheck",
    [
      Struct::NavLink.new('Diskuze', '/diskuze'),
      Struct::NavLink.new('Sociální sítě', '/socialni-site'),
      Struct::NavLink.new('Spolupráce s Facebookem', '/spoluprace-s-facebookem')
    ]
  ),
  Struct::NavLink.new("Komentáře", '/komentare'),
  Struct::NavSubmenu.new(
    "Přehledy",
    [
      # TODO: Browsing through statements needs to be implemented first
      # Struct::NavLink.new('Výroky', '/vyroky'),
      Struct::NavLink.new('Politici', speakers_path())
    ]
  ),
  Struct::NavSubmenu.new(
    'Sliby',
    [
      Struct::NavLink.new('Sliby vlády Andreje Babiše', '/sliby/druha-vlada-andreje-babise'),
      Struct::NavLink.new('Sliby Sobotkovy vlády', '/sliby/sobotkova-vlada'),
      Struct::NavLink.new('Sliby Miloše Zemana', 'https://zpravy.aktualne.cz/domaci/zverejnujeme-velkou-inventuru-zemanovych-slibu-ktere-slovo-d/r~9ebe8728ff6911e7adc2ac1f6b220ee8/')
    ]
  ),
  Struct::NavSubmenu.new(
    "O nás",
    controller.menu_items.map do |menu_item|
      case menu_item.kind
      when MenuItem::KIND_PAGE then Struct::NavLink.new(menu_item.title, page_url(slug: menu_item.page.slug))
      when MenuItem::KIND_DIVIDER then '<hr>'
      else
        raise Error("Unknown menu item kind #{menu_item.kind}")
      end
    end
  )
]
@donate_url = "/stranka/darujte"

%>

<nav class="container-shared-nav" role="navigation" data-controller="shared--nav">

  <div class="mobile-navigation" data-target="shared--nav.mobileNavigation">
    <button type="button" class="menu-button" data-action="shared--nav#toggleMobileNavigationMenu">
      <svg height="14" viewBox="0 0 20 14" width="20" xmlns="http://www.w3.org/2000/svg">
        <g style="stroke:#3c325c;stroke-width:2;fill:none;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round" transform="translate(1)">
          <path d="m0 7h18"/><path d="m0 1h18"/><path d="m0 13h18"/>
        </g>
      </svg>
    </button>
    <button type="button" class="close-button" data-action="shared--nav#toggleMobileNavigationMenu">
      <svg height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
        <g style="stroke:#3c325c;stroke-width:2;fill:none;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round" transform="translate(1 1)">
          <path d="m14 0-14 14"/><path d="m0 0 14 14"/>
        </g>
      </svg>
    </button>

    <ul class="menu-items">
      <li class="menu-item menu-item-search">
        <%= form_tag search_path, method: :get do %>
          <input name="q" type="text" placeholder="Zadejte hledaný výraz…">
          <button type="submit">
            <svg height="17" viewBox="0 0 17 17" width="17" xmlns="http://www.w3.org/2000/svg">
              <path d="m1181.34341 104.52344-4.0019-4.018708c1.69829-2.5558307 1.36199-5.9523952-.8071-8.1214883-1.22747-1.2106567-2.84168-1.8832437-4.57359-1.8832437s-3.34612.672587-4.55678 1.8832437c-2.50539 2.5222013-2.50539 6.6081675 0 9.1135543 2.16909 2.169093 5.56566 2.505387 8.12149.823919l4.01871 4.018707c.18496.184962.50444.184962.6894 0l1.10977-1.109768c.20177-.201776.20177-.521255 0-.706216zm-6.28869-4.489519c-1.69828 1.698282-4.47271 1.698282-6.1878 0-1.69829-1.6982821-1.69829-4.4727036 0-6.1878005 1.69828-1.6982823 4.4727-1.6982823 6.1878 0 1.69828 1.7150969 1.69828 4.4895184 0 6.1878005z" fill="#3c325c" transform="translate(-1165 -90)"/>
            </svg>
          </button>
        <% end %>
      </li>
      <li class="menu-item menu-item-donate">
        <a href="<%= @donate_url %>" role="menuitem">
          Darujte
        </a>
      </li>
      <% @nav.each do |nav_item| %>
        <% if nav_item.class.name == 'Struct::NavLink' %>
          <li class="menu-item">
            <span><%= nav_item.text %></span>
            <ul class="submenu-items">
              <li class="submenu-item">
                <a href="<%= nav_item.href %>" role="menuitem"><%= nav_item.text %></a>
              </li>
            </ul>
          </li>
        <% elsif nav_item.class.name == 'Struct::NavSubmenu' %>
          <li class="menu-item">
            <span><%= nav_item.name %></span>

            <ul class="submenu-items">
              <% nav_item.items.each do |item| %>
                <% if (item.is_a? String) %>
                  <%= raw item %>
                <% else %>
                  <li class="submenu-item">
                    <a href="<%= item.href %>" role="menuitem">
                      <%= item.text %>
                    </a>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="desktop-navigation">
    <ul class="menu-items" role="menu">
      <% @nav.each do |nav_item| %>
        <% if nav_item.class.name == 'Struct::NavLink' %>
          <li class="menu-item">
            <a href="<%= nav_item.href %>" role="menuitem"><%= nav_item.text %></a>
          </li>
        <% elsif nav_item.class.name == 'Struct::NavSubmenu' %>
          <li class="menu-item">
            <button type="button" data-target="shared--nav.desktopNavigationMenuItemButton" role="menuitem" aria-haspopup="true" aria-expanded="false">
              <%= nav_item.name %> ▾
            </button>
            <ul class="submenu-items">
              <% nav_item.items.each do |item| %>
                <% if (item.is_a? String) %>
                  <%= raw item %>
                <% else %>
                  <li class="submenu-item"><a href="<%= item.href %>" role="menuitem"><%= item.text %></a></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
      <li class="menu-item menu-item-donate">
        <a href="<%= @donate_url %>" role="menuitem">
          Darujte
        </a>
      </li>
      <li class="menu-item menu-item-search">
        <a href="<%= search_path %>" title="Vyhledávání" role="menuitem">
          <svg height="17" viewBox="0 0 17 17" width="17" xmlns="http://www.w3.org/2000/svg">
            <path d="m1181.34341 104.52344-4.0019-4.018708c1.69829-2.5558307 1.36199-5.9523952-.8071-8.1214883-1.22747-1.2106567-2.84168-1.8832437-4.57359-1.8832437s-3.34612.672587-4.55678 1.8832437c-2.50539 2.5222013-2.50539 6.6081675 0 9.1135543 2.16909 2.169093 5.56566 2.505387 8.12149.823919l4.01871 4.018707c.18496.184962.50444.184962.6894 0l1.10977-1.109768c.20177-.201776.20177-.521255 0-.706216zm-6.28869-4.489519c-1.69828 1.698282-4.47271 1.698282-6.1878 0-1.69829-1.6982821-1.69829-4.4727036 0-6.1878005 1.69828-1.6982823 4.4727-1.6982823 6.1878 0 1.69828 1.7150969 1.69828 4.4895184 0 6.1878005z" fill="#3c325c" transform="translate(-1165 -90)"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>

</nav>
