<div class="speaker-stats">
  <figure class="speaker">
    <% if speaker.portrait %>
      <div class="photo-wrapper">
        <% if local_assigns[:lazy_load_images] == false %>
          <img class="lazy-load" data-src="<%= speaker_portrait(speaker.portrait) %>" alt="<%= speaker.full_name %>">
        <% else %>
          <%= image_tag(speaker_portrait(speaker.portrait), alt: speaker.full_name) %>
        <% end %>
      </div>
    <% end %>
    <p class="name"><a href="<%= speaker_path(speaker.id) %>"><%= speaker.full_name %></a></p>
  </figure>
  <ul class="stats">
    <li title="Pravda" class="glyphicons true <%= "none" if stats[:true].zero? %>">
      <i></i> <%= stats[:true] %>
    </li>
    <li title="Nepravda" class="glyphicons untrue <%= "none" if stats[:untrue].zero? %>">
      <i></i> <%= stats[:untrue] %>
    </li>
    <li title="Zavádějící" class="glyphicons misleading <%= "none" if stats[:misleading].zero? %>">
      <i></i> <%= stats[:misleading] %>
    </li>
    <li title="Neověřitelné" class="glyphicons unverifiable <%= "none" if stats[:unverifiable].zero? %>"> <i></i> <%= stats[:unverifiable] %> </li>
  </ul>
</div>

