<div class="row">
    <div class="columns">
        <h1><%= @article.title %></h1>
        <p>Publikováno <%= raw(l(@article.published_at, format: :long)) %></p>
    </div>
    <div class="large-7 columns editorial">
        <p class="lead"><%= raw(@article.perex) %></p>
        <% @article.segments.each do |segment| %>
          <% if segment.is_text? %>
            <%= raw(segment.text) %>
          <% else %>
            {{ render(controller(
                'DemagogWebBundle:Web/Segment:statements',
                { 'segment': hasSegment.segment }
            )) }}
          <% end %>
        <% end %>
    </div>
    <div class="columns"></div>
</div>

<% if @users %>
  <div class="row">
    <div class="large-7 columns">
      <% @users.each do |user| %>
        <p><%= user.full_name %></p>
        <p><%= user.bio %></p>
      <% end %>
    </div>
  </div>
<% end %>
