<div class="row">
    <div class="columns">
        <h1><%= @article.title %></h1>
        <p>Publikováno <%= raw(l(@article.published_at, format: :long)) %></p>
    </div>
    <div class="large-7 columns editorial">
        <p class="lead"><%= raw(@article.perex) %></p>
        <% @article.segments.each do |segment| %>
          <% if segment.is_text? %>
            <%= raw(segment.text) %>
          <% else %>
            {{ render(controller(
                'DemagogWebBundle:Web/Segment:statements',
                { 'segment': hasSegment.segment }
            )) }}
          <% end %>
        <% end %>
    </div>
    <div class="columns"></div>
</div>

<% if @users %>
  <div class="row">
    <div class="columns">
      <h2>Kdo připravuje demagog.cz?</h2>
    </div>
  </div>

  <% @users.each do |user| %>
    <div class="row" style="margin-bottom: 50px; clear: both;">
      <div class="large-2 medium-2 columns">
        <div class="photo-wrapper">
          <% if user.avatar.attached? %>
            <%= image_tag(user.avatar, class: 'vyrok_fotografia') %>
          <% end %>
        </div>
      </div>

      <div class="large-8 medium-8 pull-2 columns">
        <h3 style="text-align: left; margin-bottom: 0;"><%= user.full_name %></h3>
        <p style="margin: 0; font-style: italic"><%= user.position_description %></p>

        <p style="font-size: 85%; text-align: left;">
          <%= user.bio %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>
