<div class="row">
    <div class="columns">
        <h1><%= @article.title %></h1>
        <p>Publikováno <%= raw(@article.published_at.strftime("%-d.&nbsp;%-m.&nbsp;%Y")) %></p>
    </div>
    <div class="large-7 columns">
        <p class="lead"><%= raw(@article.perex) %></p>
    </div>
    <% if @article.article_type.name == 'default' %>
        <div class="large-5 columns">
            <p>
                <%= @article.source.medium.name %>
                <% if @article.source.source_url %>
                    (<a class="ext" href="<%= @article.source.source_url %>">záznam</a>)
                <% end %>
                <br>
                Moderátor: <%= @article.source.media_personality.name %>
            </p>

            <% @article.unique_speakers.each do |speaker| %>
              <%=
                render(
                  partial: "shared/speaker_stat",
                  locals: {
                    speaker: speaker,
                    stats: speaker.stats_for_debate(@article.source)
                  }
                )
              %>
            <% end %>
        </div>
    <% end %>
</div>

<%#
<div class="row">
  <div class="columns large-centered large-8">
      <p class="color-legend">
          <span class="true glyphicons circle_ok"><i></i> Pravda</span> &nbsp; &nbsp;
          <span class="untrue glyphicons circle_remove"><i></i> Nepravda</span> &nbsp; &nbsp;
          <span class="misleading glyphicons circle_exclamation_mark"><i></i> Zavádějící</span> &nbsp; &nbsp;
          <span class="unverifiable glyphicons circle_question_mark"><i></i> Neověřitelné</span>
      </p>
  </div>
</div>
%>

<div class="row">
    <div class="columns">
        <h2 class="filters">Výroky</h2>

        <%#
        <div class="filters">
            <p>
                   <select name="speaker-filter">
                       <option value="">Všichni politici</option>
                       <option value="67">Petr Fiala</option>
                       <option value="4">Bohuslav Sobotka</option>
                   </select>

                   <select name="veracity-filter">
                       <option value="">Všechny výroky</option>
                       <option value="true">Pravda</option>
                       <option value="untrue">Nepravda</option>
                       <option value="misleading">Zavádějící</option>
                       <option value="inverifiable">Neověřitelné</option>
                   </select>
               </h2>
            </p>
        </div>
        %>

        <% @article.segments.each do |segment| %>
          <% if segment.is_text? %>
            <%= raw(segment.segment.text) %>
          <% else %>
            <%= render(partial: "statement/detail", collection: segment.published_statements, as: :statement) %>
          <% end %>
        <% end %>
    </div>
</div>
