<article class="preview">
  <a title="<%= article.title %>" href="<%= article_path(article) %>" class="illustration">
    <% if article.illustration.attached? %>
      <img class="lazy-load" data-src="<%= url_for(article.illustration) %>">
    <% end %>
  </a>

  <div>
    <div class="speakers">
        <% for speaker in article.unique_speakers %>
          <%= render(partial: 'shared/portrait', object: speaker, as: :speaker) %>
        <% end %>
    </div>

    <h2><%= link_to(article.title, article_path(article), class: "title") %></h2>

    <p class="clickthrough">
      <span class="label <%= article.article_type.name == "default" ? "factcheck" : "editorial" %>">
        <% if article.article_type.name == "default" %>
            Ověřeno
        <% end %>
        <% if article.article_type.name == "static" %>
            Komentář
        <% end %>
      </span>

      <% if article.article_type.name == "default" && article.source %>
          <i><%= article.source.medium.name %>, <%= raw(l(article.source.released_at, format: :long)) %></i>
      <% end %>

      <% if article.article_type.name == "static" %>
        <i><%= raw(l(article.published_at, format: :long)) %></i>
      <% end %>

      &mdash;

      <%= strip_tags(article.perex).truncate(230) %>

      <a href="<%= article_path(article) %>">
          <span>Číst&nbsp;dál&nbsp;&rarr;</span>
      </a>
    </p>
  </div>
</article>
