<article class="container-article-editorials">
  <h1><%= get_web_content("article.editorials", "title") %></h1>
  <%= raw(get_web_content("article.editorials", "intro")) %>
</article>

<% if @page_number %>
  <p class="full-width"><b>Strana <%= @page_number %></b> z archivu komentářů:</p>
<% end %>

<% @articles.each do |article| %>
  <%= render partial: "article/preview", object: article, as: :article %>
<% end %>

<%= paginate(@articles) %>
