<!DOCTYPE html>
<html lang="cs">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render partial: "shared/meta" %>
  </head>

  <body>
    <%= render partial: "shared/facebook" %>

    <div class="container">
      <%= render partial: "shared/nav" %>

      <%= render partial: "shared/header" %>

      <%= yield %>

      <%= render partial: "shared/partners" %>
    </div>
      
    <%= render partial: "shared/footer" %>

    <%= javascript_pack_tag 'application'  %>
    <%= render partial: "shared/ga" %>
    <%= render partial: "shared/hotjar" %>
  </body>
</html>
