<!DOCTYPE html>
<html lang="cs">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if content_for?(:stylesheets) %><%= yield :stylesheets %><% end %>
    <%= render partial: "shared/meta" %>
  </head>

  <body>
    <%= render partial: "shared/facebook" %>

    <div class="christmas"></div>
    <div class="container">
      <%= render partial: "shared/header" %>
      <%= render partial: "shared/nav" %>

      <%= yield %>

      <%= render partial: "shared/donate_and_subscribe" %>
      <%= render partial: "shared/partners" %>
    </div>
      
    <%= render partial: "shared/footer" %>

    <% unless Rails.env.test? %>
      <%= javascript_pack_tag 'application'  %>
      <%= javascript_pack_tag 'widget'  %>
      <%= render partial: "shared/ga" %>
      <%= render partial: "shared/hotjar" %>
    <% end %>
  </body>
</html>
