<!DOCTYPE html>
<html lang="cs">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if content_for?(:stylesheets) %><%= yield :stylesheets %><% end %>
    <%= render partial: "shared/meta" %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'application'  %>
    <%= javascript_pack_tag 'widget'  %>
    <%= render partial: "shared/ga" %>
    <%= render partial: "shared/hotjar" %>
  </body>
</html>
