<article
  class="container-promises-overview"
  data-controller="promises--overview"
  data-action="resize@window->promises--overview#handleWindowResize"
  data-action="popstate@window->promises--overview#handleWindowPopstate"
  data-promises--overview-query-params-filter-keys="<%= @params_filter_keys.to_json %>"
  data-promises--overview-query-params-filter-values="<%= @params_filter_values.to_json %>"
>
  <section class="intro">
    <%= render(partial: @intro_partial) %>
  </section>

  <section class="overall-stats">
    <h2><%= @all.size %> ověřených slibů</h2>
    <div class="stats-lines-container">
      <% @promise_rating_keys.each do |promise_rating_key| %>
        <div class="stats-line">
          <div class="stats-line-amount">
            <span class="promise-evaluation <%= promise_rating_key.dasherize %> size-24">
              <span class="stats-line-amount-number"><%= @promise_rating_counts[promise_rating_key] %></span>
              <%= (
                {
                  PromiseRating::FULFILLED => "splněných",
                  PromiseRating::IN_PROGRESS => "průběžně plněných",
                  PromiseRating::PARTIALLY_FULFILLED => "částečně splněných",
                  PromiseRating::BROKEN => "porušených",
                  PromiseRating::STALLED => "nerealizovaných"
                }[promise_rating_key]
              ) %>
            </span>
          </div>
          <div class="stats-line-bar <%= promise_rating_key.dasherize %>">
            <div class="stats-line-bar-inner" style="width: <%= @promise_rating_percents[promise_rating_key] %>%"></div>
            <span class="stats-line-bar-label"><%= @promise_rating_percents[promise_rating_key] %> %</span>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section class="filters">
    <div class="area-filter">
      <span>Filtrujte dle oblasti</span>
      <a
        href="<%= url_for(filter_params_clear(:area_tag)) %>"
        class="clear-filters <% if filter_params_empty?(:area_tag) %>hidden<% end %>"
        data-target="promises--overview.areaTagFilterClear"
        data-action="promises--overview#clearFilter"
        data-filter-type="area_tag"
      >
        × zrušit filtr
      </a>
      <div class="filter-options-list">
        <% @area_tags.each do |area_tag| %>
          <a
            href="<%= url_for(filter_params_toggle_value(:area_tag, area_tag.id)) %>"
            class="filter-option-button <% if filter_params_have_value?(:area_tag, area_tag.id) %>active<% end %>"
            data-target="promises--overview.areaTagFilterOption"
            data-action="promises--overview#toggleFilter"
            data-filter-type="area_tag"
            data-filter-value="<%= area_tag.id %>"
          >
            <%= area_tag.name %>
          </a>
        <% end %>
      </div>
    </div>
    <div class="evaluation-filter">
      <span>Filtrujte dle hodnocení</span>
      <a
        href="<%= url_for(filter_params_clear(:promise_rating)) %>"
        class="clear-filters <% if filter_params_empty?(:promise_rating) %>hidden<% end %>"
        data-target="promises--overview.promiseRatingFilterClear"
        data-action="promises--overview#clearFilter"
        data-filter-type="promise_rating"
      >
        × zrušit filtr
      </a>
      <div class="filter-options-list">
        <% @promise_rating_keys.each do |promise_rating_key| %>
          <a
            href="<%= url_for(filter_params_toggle_value(:promise_rating, promise_rating_key)) %>"
            class="filter-option-button <% if filter_params_have_value?(:promise_rating, promise_rating_key) %>active<% end %>"
            data-target="promises--overview.promiseRatingFilterOption"
            data-action="promises--overview#toggleFilter"
            data-filter-type="promise_rating"
            data-filter-value="<%= promise_rating_key %>"
          >
            <span class="promise-evaluation <%= promise_rating_key.dasherize %>">
              <%= (
                {
                  PromiseRating::FULFILLED => "splněné",
                  PromiseRating::IN_PROGRESS => "průběžně plněné",
                  PromiseRating::PARTIALLY_FULFILLED =>  "částečně splněné",
                  PromiseRating::BROKEN => "porušené",
                  PromiseRating::STALLED => "nerealizované"
                }[promise_rating_key]
              ) %></span>
          </a>
        <% end %>
      </div>
    </div>
  </section>

  <section class="promises-list">
    <table class="promises-list-table">
      <thead>
        <tr>
          <th></th>
          <th style="width: 140px">Oblast</th>
          <th style="width: 170px">Hodnocení</th>
          <th style="width: 120px"></th>
        </tr>
      </thead>
      <tbody>
        <% @all.each do |statement| %>
          <tr
            id="slib-<%= statement.id %>"
            class="summary <% unless @filtered_statement_ids.include?(statement.id) %>hidden<% end %>"
            data-target="promises--overview.summaryRow"
            data-action="click->promises--overview#toggleDetail"
            data-area-tag-filter-value="<%= statement.tags[0].id %>"
            data-promise-rating-filter-value="<%= statement.assessment.promise_rating.key %>"
          >
            <td class="name-cell"><%= statement.title %></td>
            <td>
              <label>Oblast</label>
              <%= statement.tags[0].name %>
            </td>
            <td>
              <label>Hodnocení</label>
              <span class="promise-evaluation <%= statement.assessment.promise_rating.key.dasherize %>"> <%= @promises_list_rating_labels[statement.assessment.promise_rating.key] %></span>
            </td>
            <td class="action-cell">
              <a
                href="#slib-<%= statement.id %>"
                class="expand-link"
                data-action="promises--overview#toggleDetail"
              >
                + zobrazit detail
              </a>
              <a
                href="#"
                class="collapse-link"
                data-action="promises--overview#toggleDetail"
              >
                – skrýt detail
              </a>
            </td>
          </tr>
          <tr
            class="detail <% unless @filtered_statement_ids.include?(statement.id) %>hidden<% end %>"
            data-id="slib-<%= statement.id %>"
            data-target="promises--overview.detailRow"
          >
            <td colspan="4">
              <div class="slide-animation-container">
                <div class="space-taking-container">
                  <div class="hiding-container">
                    <div class="promise-detail">
                      <blockquote class="content">
                        <p>„<%= content_to_html(statement.content) %>‟</p>
                        <cite><a href="<%= @get_statement_source_url.call(statement) %>" target="_blank"><%= @get_statement_source_label.call(statement) %></a></cite>
                      </blockquote>
                      <div class="assessment">
                        <div class="evaluation-and-permalink">
                          <span class="promise-evaluation <%= statement.assessment.promise_rating.key.dasherize %>"> <%= @promises_list_rating_labels[statement.assessment.promise_rating.key] %></span>
                          <a class="permalink" href="<%= promise_permalink(statement) %>">trvalý odkaz</a>
                        </div>
                        <div class="explanation-container <% if statement.assessment.short_explanation.nil? %>full-explanation-only<% end %>">
                          <% unless statement.assessment.short_explanation.nil? %>
                            <section class="short-explanation">
                              <p><%= statement.assessment.short_explanation %></p>
                            </section>

                            <a href="#" class="toggle-full-explanation" data-action="promises--overview#toggleFullExplanation">
                              <span class="show">zobrazit&nbsp;celé&nbsp;odůvodnění</span>
                              <span class="hide">skrýt&nbsp;celé&nbsp;odůvodnění</span>
                            </a>
                          <% end %>

                          <section class="full-explanation">
                            <%= raw(to_lazy_loading_iframes_and_images(statement.assessment.explanation_html)) %>
                          </section>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

</article>
