<div
  class="container-promises-promise_embed display-<%= @display %> logo-<%= @logo %>"
  data-controller="promises--promise-embed"
  data-promises--promise-embed-display="<%= @display %>"
  data-action="resize@window->promises--promise-embed#handleWindowResize click->promises--promise-embed#containerClick"
>
  <blockquote>
    <p>„<%= content_to_html(@statement.content) %>‟</p>
    <cite><a href="<%= @get_statement_source_url.call(@statement) %>" target="_blank"><%= @get_statement_source_label.call(@statement) %></a></cite>
  </blockquote>
  <div class="assessment">
    <span class="promise-evaluation <%= @statement.assessment.promise_rating.key.dasherize %>"> <%= @promises_list_rating_labels[@statement.assessment.promise_rating.key] %></span>
    <section class="short-explanation">
      <p><%= @statement.assessment.short_explanation %></p>
    </section>
    <a
      class="link"
      href="<%= promise_permalink(@statement) %>"
      target="_blank"
      data-target="promises--promise-embed.link"
    >
      Na detail slibu s celým odůvodněním →
    </a>
    <a class="logo" href="https://demagog.cz" target="_blank">
      <img src="<%= asset_path("demagog-logo.svg") %>" alt="Logo projektu Demagog.cz" />
    </a>
  </div>
</div>
